@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);

/**
 * Default theme for do.minik.us presentations
 *
 */

 /*

$highlight: #f05f00;

 */

#twitterhandle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-family: Vollkorn;
  font-size: 12px;
  color: #f05f00;
  z-index: 999999;
}
#twitterhandle a {
  color: #f05f00;
  text-decoration: none;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff
}

.reveal {
  font-family: "Vollkorn", sans-serif;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #000; }

::selection {
  color: white;
  background: #f05f00;
  text-shadow: none; }


/*********************************************
 * LOGO
 *********************************************/
  div#logo, div#logomain {
    background-color:#f05f00;
    color:white;

    text-align: center;
    vertical-align: middle;

    position: fixed;

    margin: 0px;
    margin-left: 20px;
    margin-top: 680px;
    top: 0px;
    left: 0%;

    width: 35px;
    height: 35px;
    border-radius: 17.5px;

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 35px;
    font-weight: 500;

    z-index: 1000;
  }

  div#logo p {
    background: none;
    color: #fff;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
  }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Unica One", Impact, sans-serif;
  background: #f05f00;
  border: 1px solid #f05f00;
  line-height: 0.9em;
  text-transform: uppercase;
  font-weight: normal;

  text-align: right;
  padding-right: 5%;
}

.reveal h1.impact {
  font-size: 5em;
}

.reveal h2.bottom {
  position: absolute;
  top: 600px;
  right: 0px;

  font-size: 2.5em;
}

.reveal h2.leftlinks {
  position: absolute;
  left: 50px;
  width: 700px;
  font-size: 2em;

}

.reveal h3.leftlinks {
  position: absolute;
  left: 320px;
  width: 700px;
  background: white;
  color: #f05f00;
  font-size: 2em;
}

.reveal h3.bottom {
  position: absolute;
  top: 630px;
  right: 0px;
  background: white;
  color: #f05f00;

  font-size: 2em;
}
.reveal h3.bottom a, .reveal h3.leftlinks a {
  color: #f05f00;
}


/*********************************************
 * REGULAR TEXT
 *********************************************/
.reveal p {
  background: #fff;
  color: #f05f00;

  font-size: 64px;

  text-align: right;
  padding-right: 5%;
}

.reveal p.short {
  max-width: 55%;
  margin: 0 0 auto auto;
}

.reveal p.attribution {
  font-size: 12px;
  color: white;
  background: black;
  position: absolute;
  right: 10px;
  top: 738px;
}

.reveal p.attribution a {
  color: white;
}

.reveal p.small {
  font-size: 32px;
  color: black;
  padding-right: 400px;
}

.reveal p.bottom {
  position: absolute;
  top: 1000px;
  right: 0px;
  font-size: 48px;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre {
  font-size: 64px;
}

.reveal pre code {
    background: black;
    color: white;
    max-height: 2000px !important;
}

p, pre, ul, li {
  font-size: 64px;
}

/*********************************************
 * TABLES
 *********************************************/
.reveal table {
  width: 90%;
  margin: 5% 0%;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal ul {
  font-size: 64px;
  background: #fff;
  color: #f05f00;
  line-height: 64px;

  list-style-type: none;

  text-align: right;

  width: 900px;
}

.reveal li {
  padding-right: 50px;
}

.reveal li.pro {
  padding-left: 50px;
}

.reveal li.con {
  padding-left: 50px;
}


/*********************************************
 * VERTICAL CENTERING
 *********************************************/
.reveal .center {
  margin-top: 200px;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal p a {
  color: #f05f00;
}

.reveal h1 a {
  color: #fff;
}
.reveal h2 a {
  color: #fff;
}
.reveal h3 a {
  color: #fff;
}

.reveal a:not(.image):hover {
  text-decoration: underline;
  border: 1px solid black;
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;

  vertical-align: top;
}

.reveal img.minimal {
  border: none;
  box-shadow: none;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }


/*********************************************
 * VIDEO
 *********************************************/

.reveal video {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  display: none !important;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #f05f00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; }
